@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.subscription {
  max-width: 570px;
  border-radius: 16px;
  padding: 6px;
  background-color: var(--special-blue);
  background-image: url('../../../assets/img/postal-background.png');
  background-size: cover;
}

.subscription__container {
  border-radius: 16px;
  padding: 26px;
  background-color: var(--basic-white);
}

.subscription__description {
  @include p2;
  margin-top: 0;
  margin-bottom: 24px;

  @media (max-width: v.$mobile-width-only) {
    text-align: center;
  }
}

.subscription__form {
  display: flex;

  @media (min-width: v.$tablet-width) {
    gap: 18px;
    justify-content: space-between;
  }

  @media (max-width: v.$mobile-width-only) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.subscription__input-control {
  width: 100%;
}
