@use '../../../styles/variables' as v;

.main-page {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: v.$mobile-width-only) {
    gap: 40px;
  }

  @media (min-width: v.$tablet-width) {
    gap: 80px;
  }
}
