@use '../../../styles/variables' as v;

.bullet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (max-width: v.$mobile-width-only) {
    max-width: 110px;
  }

  @media (min-width: v.$tablet-width) {
    max-width: 260px;
  }
}

.bullet-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--basic-extra-light);
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}
