.bullet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.bullet-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--basic-extra-light);
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}
