@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.global-message {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.global-message__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.global-message__item {
  max-width: 300px;
  padding: 12px 20px 12px 36px;
  background-color: var(--basic-white);
  border-radius: 8px;
  box-shadow: var(--strong-shadow);
  background-repeat: no-repeat;
  background-position: left 7px top 9px;

  &--success {
    background-image: url('../../../assets/svg/status-success.svg');
  }

  &--error {
    background-image: url('../../../assets/svg/status-error.svg');
  }
}

.global-message__item-type {
  @include p3-bold(var(--basic-extra-dark));
  margin-top: 0;
  margin-bottom: 12px;
}

.global-message__item-text {
  @include p3;
  display: block;
  max-width: 240px;
}
