@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.offer-block {
  display: flex;
  flex-direction: column;

  @media (max-width: v.$mobile-width-only) {
    align-items: center;
    min-height: 265px;
    text-align: center;
  }

  @media (min-width: v.$tablet-width) {
    min-height: 370px;
  }

  @media (min-width: v.$desktop-width) {
    min-height: 300px;
    width: 460px;
  }
}

.offer-block__title {
  margin-top: 0;
  margin-bottom: 24px;

  @media (max-width: v.$mobile-width-only) {
    @include h3;
  }

  @media (min-width: v.$tablet-width) {
    @include h1;
  }
}

.offer-block__description {
  @media (max-width: v.$mobile-width-only) {
    @include p3(var(--basic-extra-dark));
    margin-bottom: 20px;
  }

  @media (min-width: v.$tablet-width) {
    @include p1;
    margin-bottom: 48px;
  }
}

.offer-block__order-button {
  margin-top: auto;
}
