@use '../../../styles/mixins' as *;

.check-group {
  display: flex;
  flex-wrap: wrap;
  //TODO: remove gap in flex-boxes
  gap: 16px;
  width: fit-content;
  border-radius: 18px;
  background-color: var(--basic-extra-light-icon);
  padding: 8px 24px;
}

.check-group__label {
  @include s1(var(--basic-extra-dark));
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.check-group__mark-box {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  color: var(--basic-dark);
}

.check-group__input:hover + .check-group__mark-box {
  color: var(--basic-extra-light);
}

.check-group__input:focus + .check-group__mark-box {
  color: var(--basic-extra-light);
}

.check-group__input:active + .check-group__mark-box {
  color: var(--basic-extra-light);
  opacity: 0.4;
}

.check-group__input:disabled + .check-group__mark-box {
  color: var(--basic-extra-dark);
  opacity: 0.5;
}
