@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  font-family: var(--basic-font);
  margin: 0;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.visually-hidden {
  @include visually-hidden;
}
