@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.header {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 24px 0;
  align-items: center;

  @media (max-width: v.$mobile-width-only) {
    flex-direction: column;
  }
}

.navigation {
  display: flex;

  @media (max-width: v.$mobile-width-only) {
    flex-direction: column;
  }
}

.navigation--closed .navigation__container {
  @media (max-width: v.$mobile-width-only) {
    display: none;
  }
}

.navigation__container {
  @media (max-width: v.$mobile-width-only) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

.navigation__basic-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: v.$mobile-width-only) {
    flex-direction: column;
  }
}

.navigation__link {
  @include p3;
  display: block;
  padding: 8px 16px;

  @media (max-width: v.$mobile-width-only) {
    @include p3-bold;
    width: 100%;
    text-align: center;
    background-color: var(--special-pink);
    box-shadow: inset 0 8px 16px rgba(45, 52, 64, 0.12);
  }
}

.navigation__toggle {
  width: 25px;
  height: 25px;
  background-color: red;

  @media (max-width: v.$mobile-width-only) {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
  }

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}
