@use '../../../styles/mixins' as *;

.input {
  @include p3(var(--basic-extra-dark));
  width: 100%;
  padding: 14px 16px;
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
  border-radius: 4px;
  background-color: var(--basic-white);

  &:hover:not([disabled]):not(.input--invalid) {
    box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
  }

  &:focus:not(.input--invalid) {
    box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  }

  &:disabled {
    background-color: var(--basic-light);
    color: rgba(45, 52, 64, 0.65);
  }

  &--invalid {
    box-shadow: inset 0 0 0 1px var(--status-error);
  }

  &--invalid:hover,
  &--invalid:focus {
    box-shadow: inset 0 0 0 2px var(--status-error);
  }
}

.input::placeholder {
  @include p3(var(--basic-neutral));
}
