@use '../../../styles/mixins' as *;

.textarea {
  @include p3(var(--basic-extra-dark));
  @include text-field;
  display: block;
  font-family: var(--basic-font);
  resize: none;
  padding: 16px;

  &::placeholder {
    color: var(--basic-neutral);
    opacity: 1;
  }

  &:hover:not([disabled]):not(.textarea--invalid) {
    box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
  }

  &:focus:not(.textarea--invalid) {
    box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  }

  &:disabled {
    background-color: var(--basic-light);
    color: rgba(45, 52, 64, 0.65);
  }

  &--invalid {
    box-shadow: inset 0 0 0 1px var(--status-error);
  }

  &--invalid:hover,
  &--invalid:focus {
    box-shadow: inset 0 0 0 2px var(--status-error);
  }
}
