@use '../../../styles/mixins' as *;

.select {
  @include s1(var(--basic-extra-dark));
  width: 200px;
  padding: 8px 28px 8px 16px;
  background-color: var(--basic-extra-light-icon);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-image: url('../../../assets/svg/arrow-down.svg');

  &:hover {
    background-color: var(--basic-extra-light-hover);
  }

  &:focus {
    background-color: var(--basic-extra-light-hover);
    outline: none;
    box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  }
}
