@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.delivery {
  display: flex;
  background-color: var(--basic-extra-light);
  width: 100%;
  max-width: 1170px;
  border-radius: 16px;
  background-image: url('../../../assets/img/background/mixed-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @media (max-width: v.$mobile-width-only) {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  @media (min-width: v.$tablet-width) {
    justify-content: space-between;
    gap: 40px;
    padding: 44px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 60px;
    padding: 64px 64px 64px 100px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 135px;
  }
}

.delivery__info-container {
  max-width: 370px;

  @media (min-width: v.$tablet-width) {
    align-self: center;
  }
}

.delivery__title {
  @media (max-width: v.$mobile-width-only) {
    @include h4;
  }

  @media (min-width: v.$tablet-width) {
    @include h3;
  }

  @media (min-width: v.$desktop-width) {
    @include h2;
  }
}

.delivery__info {
  @media (max-width: v.$mobile-width-only) {
    @include p3;
  }

  @media (min-width: v.$tablet-width) {
    @include p2;
  }
}

.delivery__form-container {
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: var(--strong-shadow);

  @media (max-width: v.$mobile-width-only) {
    padding: 20px;
    min-width: 100%;
  }

  @media (min-width: v.$tablet-width) {
    padding: 32px;
    min-width: 400px;
    width: 400px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 40px;
    min-width: 500px;
    width: 500px;
  }
}

.delivery__form-title {
  @include p2;
  margin-top: 0;
  margin-bottom: 32px;
}

.delivery__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delivery__form-date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: v.$desktop-width) {
    flex-direction: row;
    gap: 16px;
  }
}

.delivery__input-control--date {
  @media (min-width: v.$desktop-width) {
    min-width: 160px;
    width: 160px;
  }
}

.delivery__input-control--phone {
  @media (min-width: v.$desktop-width) {
    width: 100%;
  }
}

.delivery__submit-button {
  align-self: center;
}
