@use '../../../styles/mixins' as *;

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label-wrapper {
  display: flex;
  gap: 4px;
}

.form-field__label {
  @include s1(var(--basic-extra-dark));
  margin-bottom: 8px;
  margin-left: 16px;

  &--bold {
    @include p3-bold(var(--basic-extra-dark));
    margin-left: 0;
  }
}

.form-field__error-message {
  @include p3(var(--status-error));
  margin-top: 4px;
  margin-bottom: 0;
  min-height: 20px;
}

.form-field__tooltip {
  align-self: center;
  margin-bottom: 8px;
}
