@use '../../../styles/mixins' as *;

.product-card {
  width: 270px;
  min-height: 332px;
  background-color: transparent;
  position: relative;
  padding-top: 52px;
}

.product-card__info-wrapper {
  display: flex;
  min-height: 280px;
  flex-direction: column;
  align-items: center;
  padding: 132px 40px 24px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card__title {
  @include h4;
  margin-top: 0;
  margin-bottom: 8px;
}

.product-card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;

  &--disabled {
    filter: grayscale(1);
  }
}

.product-card__description {
  @include p2;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.product-card__price-wrapper {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  @include h4;
  display: block;
}

.product-card__cart-button {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
  box-shadow: inset 0 0 0 2px var(--special-extra-bright);
  border-radius: 50%;

  &:hover {
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light);
  }

  &:focus {
    color: var(--basic-extra-light);
    background-color: var(--special-extra-bright);
    box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  }

  &:active {
    color: var(--basic-extra-dark);
    background-color: var(--special-light-pink);
    box-shadow: inset 0 0 0 2px var(--special-extra-bright);
  }

  &:disabled {
    color: var(--basic-dark);
    background-color: var(--basic-neutral);
    box-shadow: inset 0 0 0 2px var(--basic-neutral);
    cursor: default;
  }
}

.product-card__availability-info {
  @include h4;
  position: absolute;
  top: 20%;
  left: 5%;
  display: block;
  min-width: 130px;
  text-align: center;
  background-color: var(--special-light-pink);
  border-radius: 8px;
}
