@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as *;

.popup__container {
  position: relative;
  background-color: var(--basic-extra-light);
  border-radius: 4px;

  @media (max-width: v.$mobile-width-only) {
    width: 90%;
    padding: 32px;
    z-index: 3;
  }

  @media (min-width: v.$tablet-width) {
    max-width: 440px;
    padding: 48px;
  }
}

.popup__close-button {
  position: absolute;
  display: grid;
  place-content: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: var(--basic-extra-dark);
  border-radius: 4px;

  @media (max-width: v.$mobile-width-only) {
    top: 8px;
    right: 8px;
  }

  @media (min-width: v.$tablet-width) {
    top: 20px;
    right: 20px;
  }

  &:hover {
    color: var(--basic-neutral);
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--basic-dark);
    color: var(--basic-neutral);
  }

  &:active {
    box-shadow: none;
    color: var(--basic-light);
  }
}

.popup__opening-button {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px 16px;

  @media (max-width: v.$mobile-width-only) {
    @include p3-bold;
    background-color: inherit;
    width: 100%;
    justify-content: center;
    box-shadow: inset 0 2px 0 rgba(45, 52, 64, 0.12);
  }

  @media (min-width: v.$tablet-width) {
    @include s1(var(--basic-extra-dark));
    border-radius: 30px;
    background-color: var(--basic-extra-light-icon);
  }

  &:hover {
    background-color: var(--basic-extra-light-hover);
  }

  &:focus-visible {
    background-color: var(--basic-extra-light-hover);
    box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  }

  &:active {
    background-color: var(--basic-extra-light);
  }

  &--current,
  &--current:hover,
  &--current:focus,
  &--current:active {
    background-color: var(--special-bright);
    color: var(--basic-extra-light);
    cursor: default;
    box-shadow: none;
  }
}
