@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as v;

.sign-in__title {
  margin-top: 0;

  @media (max-width: v.$mobile-width-only) {
    @include h4;
    margin-bottom: 20px;
  }
  @media (min-width: v.$tablet-width) {
    @include h3;
    margin-bottom: 32px;
  }
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign-in__submit-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sign-in__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sign-in__link {
  @include s1(var(--basic-extra-dark));
  text-decoration: underline;

  &:hover {
    color: var(--basic-dark);
  }

  &:focus {
    color: var(--basic-extra-dark);
    box-shadow: 0 0 0 2px var(--basic-extra-dark);
  }

  &:active {
    color: var(--basic-neutral);
  }
}
